@import 'element-variables';
// @import 'pdf';

body{
  background: #FBFCFD;
}
.box-center {
  margin: 0 auto;
  display: table;
}
.text-muted {
  color: #777;
}
.text-success{
  color: darken($--color-success, 20%);
}
.pull-right {
  float: right !important;
}

.permissions-container {
  .block {
    .el-form-item__label {
      padding-left: 24px;
    }
  }
}

// app container
.app-container{
  height: 100%;
}
// general content spacing for clarity
.data-padding{
  padding: 35px;
}
// pagination
.pagination-container{
  margin-top: 0 !important;
}

// secondary navbar
.secondary-navbar{
  background: #fff;
  border-bottom: 1px solid #f7f7f7;
  z-index: 999;
  padding: 8px 15px 0 15px;
  height: 50px;
}
.el-menu-docs{
  border: none !important;
  line-height: 1;
  height: auto;
  // float: left;
  background: none !important;
  display: inline-block;
  margin-left: 0 !important;
  .el-menu-item{
    background: none !important;
    padding: 15px 20px 15px 0;
    padding-left: 0 !important;
    height: auto;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    height: 32px !important;
    line-height: 0px !important;
  }
}

// top bar info
.top-bar{
  margin-bottom: 30px;
  h4{
    padding: 0 0 10px 0;
    color: #555;
    margin: 0;
    display: inline;
  }
  .el-tag{
    margin-top: 0;
  }
  .details{
    margin-top: 5px;
    .info-item{
      margin-right: 8px;
      font-size: 14px;
      color: #555;
    }
    .el-tag{
      margin-right: 8px;
    }
  }
  .buttons{
    text-align: right;
    button{
      margin-left: 5px;
    }
  }
}
// custom dialog
.el-dialog__body{
  padding: 25px !important;
}

.el-dialog__header{
  background: $--color-primary !important;
  padding: 10px 20px !important;
  .el-dialog__title{
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .el-dialog__headerbtn {
    top: 13px;
    .el-dialog__close{
      color: transparentize(#fff, 0.5);
      transition: all ease-in-out .5s;
      &:hover{
        color: #ffffff;
      }
    }
  }
}
// form label spacing
.el-form--label-top .el-form-item__label{
  padding: 0 !important;
}

// subtle shadow card
.subtle-card{
  position: relative;
  border: none;
  margin-bottom: 10px;
  min-height: 50px;
  // border: 1px solid #F3F4F8;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  // box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  span.info{
    font-size: 13px;
    color: #838A96;
  }
  .more-btn{
    color: #cccccc;
    float: right;
    padding: 0;
    font-size: 16px;
    &:hover{
      color: #333;
    }
  }
  .text{
    font-size: 14px;
  }
  .bottom {
    margin-top: 13px;
    line-height: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 8px;
  }
  .el-tag {
    text-align: center;
  }
  .client-popover{
    font-weight: 400;
    span{
      margin-bottom: 10px;
    }
  }
}

// contact card
.contact-card{
  border: none;
  position: relative;
  margin-bottom: 15px;
  min-height: 170px;
  text-align: center;
  .top-head{
    margin-bottom: 10px;
    .contact-name{
      padding: 10px 0 5px 0;
      margin: 0;
      &:hover{
        text-decoration: none !important;
      }
    }
  }
  .rate{
    margin: 15px 0;
  }
  .tag-container{
    position: absolute;
    bottom: 15px;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
  }
  span.info{
    font-size: 13px;
    font-weight: 500;
    color: #838A96;
  }
  .btn-more{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #cccccc;
    padding: 0;
    font-size: 16px;
    &:hover{
      color: #333;
    }
  }
}

// non data
.no-data{
  background: none;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  span{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 21px;
    color: #999999;
  }
}

// filters menu
.filters{
  margin-bottom: 25px;
  min-height: 35px;
}
// full width input
.fw{
  width: 100%;
}


// media queries
@media only screen and (max-width: 768px) {
  /* For tabs and mobile phones: */
  .data-padding{
    padding: 15px;
  }
  .el-dialog__wrapper{
    padding: 0 15px;
  }
  .el-dialog{
    width: 100% !important;
  }
  .el-button-mobile{
    padding: 9px !important;
    span{
      display: none !important;
    }
  }
  .graph{
    margin-top: 40px;
  }
}